@import "./catppuccin/mocha.css";

window#waybar {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
}

* {
  color: @text;
}

.module {
  padding-left: 10px;
  padding-right: 10px;

  background-color: @base;
  border-radius: 10px;
}

.modules-left .module {
  margin-right: 10px;
}

.modules-right .module {
  margin-left: 10px;
}

#clock {
  color: @peach;
}

#battery {
  color: @green;
}

#workspaces {
  padding: 0;
}

#workspaces button {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

#workspaces button.focused {
  background-color: rgba(255, 255, 255, 0.1);
}

#workspaces button.focused *,
#workspaces button.visible * {
  color: @blue;
}

#wireplumber {
  color: @mauve;
}

#wireplumber.microphone {
  color: @text;
}

#wireplumber.microphone.muted {
  color: @red;
}

#custom-music {
  color: @green;
}

#memory {
  color: @flamingo;
}

#bluetooth.connected {
  color: @blue;
}

#custom-lock {
  color: @red;
}

#custom-suspend {
  color: @blue;
}
